<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
    <div th:replace="~{component/nav :: nav}"></div>
</head>
<body>

<div class="row ms-2">
    <h2 class="mt-4 ms-2" style="color: #333D77; font-weight:900;">Member Board &copy;</h2>
    <hr style="border: solid 3px #333D77;">
</div>
<div class="row ms-2">
    <div class="col" style="font-size: 20px" th:text="${board.boardTitle}"></div>
</div>
<div class="row ms-2">
    <div class="col" style="font-size: 15px" th:text="${board.boardWriter}"></div>
    <div class="col" th:text="${board.createdAt}"></div>
    <div class="col" th:text="|조회: ${board.boardHits}|"></div>
    <hr style="border: solid 2px">
</div>
<div class="row ms-2">
    <div class="col" id="board-list-area" th:if ="${board.fileAttached == 1}">
            <div th:each="fileName: ${board.storedFileName}">
                <img th:src="@{|/upload/${fileName}}" width="200" height="200" alt="">
                     alt="" width="500" height="500">
            </div>
    </div>
</div>
<div class="row ms-4 mb-5" th:text="${board.boardContents}"></div>

<div class="row justify-content-end">
    <div class="col-2" style="display:flex">
        <div th:if = "${board.boardWriter == session.user and session.user !='admin'}">
            <button onclick="board_update()" class="btn btn-primary m-1">수정</button>
            <button onclick="board_delete()" class="btn btn-primary m-1">삭제</button>
        </div>
        <div th:if="${session.user=='admin'}">
            <button onclick="board_delete()" class="btn btn-primary m-1">삭제</button>
        </div>
        <button onclick="board_list()" class=" btn btn-primary m-1">목록</button>
</div>
</div>
<hr style="border: solid 2px">



<!--<div class="table input-group mt-5">-->
<!--    <div style="width:300px;height:175px;">-->
<!--        <c:choose>-->
<!--            <c:when test="${user!=null}">-->
<!--                <input type="text" id="comment-writer" value="${user}">-->
<!--                <input type="hidden" id="comment-password" value=null>-->
<!--            </c:when>-->
<!--            <c:otherwise>-->
<!--                <input type="text" id="comment-writer" placeholder="작성자 입력">-->
<!--                <input type="password" id="comment-password" placeholder="비번입력 입력">-->
<!--            </c:otherwise>-->
<!--        </c:choose>-->

<!--    </div>-->
<!--    <div>-->
<!--            <textarea id="comment-contents" rows="4" cols="80"-->
<!--                      placeholder="타인의 권리를 침해하거나 명예를 훼손하는 댓글은 운영원칙 및 관련 법률에 제재를 받을 수 있습니다."></textarea>-->
<!--        <button class="btn btn-primary mb-4" onclick="comment_write()">댓글작성</button>-->
<!--    </div>-->
<!--    <div>-->
<!--    </div>-->
<!--</div>-->
<!--<hr style="border: solid 2px">-->

<!--<div id="comment-list-area" class="mt-5">-->
<!--    <c:choose>-->
<!--        <c:when test="${commentList == null}">-->
<!--            <h3 class="text-center">작성된 댓글이 없습니다.</h3>-->
<!--        </c:when>-->
<!--        <c:otherwise>-->
<!--            <div id="comment-list">-->
<!--                <c:forEach items="${commentList}" var="comment">-->
<!--                    <c:set var="asd" value="false"/>-->
<!--                    <div class="row">-->
<!--                        <div class="col">${comment.commentWriter}</div>-->
<!--                        <div class="col">${comment.commentContents}</div>-->
<!--                        <div class="col">${comment.commentCreatedDate}</div>-->
<!--                        <c:if test="${user == comment.commentWriter or comment.memberId ==null or user=='admin@admin.com'}">-->
<!--                            <div class="col text-end">-->
<!--                                <div class="col text-end"><i class="bi bi-x-square-fill" style='cursor: pointer;'-->
<!--                                                             onclick="delete_fn(event, '${comment.id}', '${comment.memberId}')"></i>-->
<!--                                    <c:if test="${comment.memberId ==null}">-->
<!--                                        <input type="password" name="commentPass">-->
<!--                                    </c:if>-->
<!--                                </div>-->
<!--                        </c:if>-->
<!--                    </div>-->
<!--                    <div class="row">-->
<!--                        <div class="col">-->
<!--                            <c:set var="loop" value="false"/>-->
<!--                            <c:forEach items="${heartDTOList}" var="heart" varStatus="status">-->
<!--                                <c:if test="${heart.mid==userId and comment.id == heart.cid}">-->
<!--                                    <i class="bi bi-hand-thumbs-up-fill" id="heart-${comment.id}"-->
<!--                                       style="cursor: pointer;" onclick="heart_fn(event, ${comment.id})"></i>-->
<!--                                    <c:set var="loop" value="true"/>-->
<!--                                    <c:set var="asd" value="true"/>-->
<!--                                </c:if>-->
<!--                                <c:if test="${status.last and not asd}">-->
<!--                                    <i class="bi bi-hand-thumbs-up" id="heart-${comment.id}" style="cursor: pointer;"-->
<!--                                       onclick="heart_fn(event, ${comment.id})"></i>-->
<!--                                    <c:set var="loop" value="true"/>-->
<!--                                </c:if>-->
<!--                            </c:forEach>-->
<!--                            <c:set var="loopp" value="false"/>-->
<!--                            <c:forEach items="${noDTOList}" var="no" varStatus="s">-->
<!--                                <c:if test="${no.mid==userId and comment.id == no.cid}">-->
<!--                                    <i class="bi bi-hand-thumbs-down-fill" id="no-${comment.id}" style="cursor: pointer;"-->
<!--                                       onclick="no_fn(event, ${comment.id})"></i>-->
<!--                                    <c:set var="loopp" value="true"/>-->
<!--                                    <c:set var="asdd" value="true"/>-->
<!--                                </c:if>-->
<!--                                <c:if test="${s.last and not asdd}">-->
<!--                                    <i class="bi bi-hand-thumbs-down" id="no-${comment.id}" style="cursor: pointer;"-->
<!--                                       onclick="no_fn(event, ${comment.id})"></i>-->
<!--                                    <c:set var="loopp" value="true"/>-->
<!--                                </c:if>-->
<!--                            </c:forEach>-->
<!--                            <p id="cnt-${comment.id}">${comment.cnt}</p>-->
<!--                        </div>-->
<!--                    </div>-->
<!--                    <hr class="mt-5" style="border: solid 2px">-->
<!--            </div>-->
<!--            </c:forEach>-->
<!--        </c:otherwise>-->
<!--    </c:choose>-->
<!--</div>-->
<!--</div>-->
</div>
</body>
<!--<script th:inline="javascript">-->

<!--    const comment_write = () => {-->
<!--        const commentWriter = document.querySelector("[name='commentWriter']").value;-->
<!--        const commentContents = document.querySelector("[name='commentContents']").value;-->
<!--        const result = document.getElementById("comment-list-area");-->
<!--        const boardId = [[${board.id}]];-->
<!--        if(commentWriter==""){-->
<!--            alert(" 작성자입력바람!")-->
<!--        }else if(commentContents==""){-->
<!--            alert("내용입력바람")-->
<!--        }else {-->
<!--            axios({-->
<!--                method: "get",-->
<!--                params: {-->
<!--                    boardId: boardId,-->
<!--                    commentWriter: commentWriter,-->
<!--                    commentContents: commentContents-->
<!--                },-->
<!--                url: "/comment/save",-->
<!--            }).then(res => {-->
<!--                console.log(res.data);-->
<!--                let output = "<div id=\"comment-list\">\n"-->
<!--                output += "<th>id</th>" +-->
<!--                    "                <th>작성자</th>" +-->
<!--                    "                <th>내용</th>" +-->
<!--                    "                <th>작성시간</th>"-->
<!--                for (let i in res.data) {-->
<!--                    output += "    <div class=\"row\" >\n";-->
<!--                    output += "        <div class=\"col\">" + res.data[i].commentWriter + "</div>\n";-->
<!--                    output += "        <div class=\"col\">" + res.data[i].commentContents + "</div>\n";-->
<!--                    output += "        <div class=\"col\">" + res.data[i].createdAt + "</div>\n";-->
<!--                    output += "    </div>\n";-->
<!--                }-->
<!--                output += "    </div>\n";-->
<!--                result.innerHTML = output;-->
<!--                document.querySelector("[name='commentWriter']").value = "";-->
<!--                document.querySelector("[name='commentContents']").value = "";-->
<!--            }).catch(err => {-->

<!--            });-->
<!--        }-->
<!--    }-->

<!--    const list_fn = () => {-->
<!--        const page = [[${page}]]-->
<!--        const type = [[${type}]]-->
<!--        const q = [[${q}]]-->
<!--        location.href = `/board?page=${page}&type=${type}&q=${q}`;-->
<!--    }-->



</html>