<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
    <div th:replace="~{component/nav :: nav}"></div>
</head>
<body>

<div class="row ms-2">
    <h2 class="mt-4 ms-2" style="color: #333D77; font-weight:900;">Member Board &copy;</h2>
    <hr style="border: solid 3px #333D77;">
</div>
<div class="row ms-2">
    <div class="col" style="font-size: 20px" th:text="${board.boardTitle}"></div>
</div>
<div class="row ms-2">
    <div class="col" style="font-size: 15px" th:text="${board.boardWriter}"></div>
    <div class="col" th:text="${board.createdAt}"></div>
    <div class="col" th:text="|조회: ${board.boardHits}|"></div>
    <hr style="border: solid 2px">
</div>
<div class="row ms-2">
    <div class="col" id="board-list-area" th:if ="${board.fileAttached == 1}">
            <div th:each="fileName: ${board.storedFileName}">
                <img th:src="@{|/upload/${fileName}}" width="200" height="200" alt="">
            </div>
    </div>
</div>
<div class="row ms-4 mb-5" th:text="${board.boardContents}"></div>

<div class="row justify-content-end">
    <div class="col-2" style="display:flex">
        <div th:if = "${board.boardWriter == session.user and session.user !='admin'}">
            <button onclick="board_update()" class="btn btn-primary m-1">수정</button>
            <button onclick="board_delete()" class="btn btn-primary m-1">삭제</button>
        </div>
        <div th:if="${session.user=='admin'}">
            <button onclick="board_delete()" class="btn btn-primary m-1">삭제</button>
        </div>
        <button onclick="list_fn()" class=" btn btn-primary m-1">목록</button>
</div>
</div>
<hr style="border: solid 2px">


<div class="table input-group mt-5">
    <div style="width:300px;height:175px;" th:if="${session.user!=null}">
                <input type="text" name="commentWriter" th:value="${session.user}" placeholder="작성자 입력">
    </div>
    <div style="width:300px;height:175px;" th:unless="${session.user!=null}">
                <input type="text" name="commentWriter" placeholder="작성자 입력">
    </div>
    <div>
            <textarea id="comment-contents" rows="4" cols="80"
                      placeholder="타인의 권리를 침해하거나 명예를 훼손하는 댓글은 운영원칙 및 관련 법률에 제재를 받을 수 있습니다."></textarea>
        <button class="btn btn-primary mb-4" onclick="comment_write()">댓글작성</button>
    </div>
</div>
<hr style="border: solid 2px">

<div id="comment-list-area" class="mt-5">
        <div th:if="${commentList == null}">
            <h3 class="text-center">작성된 댓글이 없습니다.</h3>
        </div>
            <div id="comment-list" th:unless="${commentList == null}" th:each="comment: ${commentList}">
                    <div class="row">
                        <div class="col" th:text="${comment.commentWriter}"></div>
                        <div class="col" th:text="${comment.commentContents}"></div>
                        <div class="col" th:text="${comment.createdAt}"></div>
                        <div th:if ="${session.user == comment.commentWriter or session.user=='admin'}">
                            <div class="col text-end">
                                <div class="col text-end">
                                    <i class="bi bi-x-square-fill" style='cursor: pointer;' th:onclick="delete_fn([[${comment.id}]])"></i>
                                </div>
                            </div>
                        </div>
                        <hr style="border: solid 2px">
                    </div>
            </div>
</div>
<!--                    <div class="row">-->
<!--                        <div class="col">-->
<!--                            <c:set var="loop" value="false"/>-->
<!--                            <c:forEach items="${heartDTOList}" var="heart" varStatus="status">-->
<!--                                <c:if test="${heart.mid==userId and comment.id == heart.cid}">-->
<!--                                    <i class="bi bi-hand-thumbs-up-fill" id="heart-${comment.id}"-->
<!--                                       style="cursor: pointer;" onclick="heart_fn(event, ${comment.id})"></i>-->
<!--                                    <c:set var="loop" value="true"/>-->
<!--                                    <c:set var="asd" value="true"/>-->
<!--                                </c:if>-->
<!--                                <c:if test="${status.last and not asd}">-->
<!--                                    <i class="bi bi-hand-thumbs-up" id="heart-${comment.id}" style="cursor: pointer;"-->
<!--                                       onclick="heart_fn(event, ${comment.id})"></i>-->
<!--                                    <c:set var="loop" value="true"/>-->
<!--                                </c:if>-->
<!--                            </c:forEach>-->
<!--                            <c:set var="loopp" value="false"/>-->
<!--                            <c:forEach items="${noDTOList}" var="no" varStatus="s">-->
<!--                                <c:if test="${no.mid==userId and comment.id == no.cid}">-->
<!--                                    <i class="bi bi-hand-thumbs-down-fill" id="no-${comment.id}" style="cursor: pointer;"-->
<!--                                       onclick="no_fn(event, ${comment.id})"></i>-->
<!--                                    <c:set var="loopp" value="true"/>-->
<!--                                    <c:set var="asdd" value="true"/>-->
<!--                                </c:if>-->
<!--                                <c:if test="${s.last and not asdd}">-->
<!--                                    <i class="bi bi-hand-thumbs-down" id="no-${comment.id}" style="cursor: pointer;"-->
<!--                                       onclick="no_fn(event, ${comment.id})"></i>-->
<!--                                    <c:set var="loopp" value="true"/>-->
<!--                                </c:if>-->
<!--                            </c:forEach>-->
<!--                            <p id="cnt-${comment.id}">${comment.cnt}</p>-->
<!--                        </div>-->
<!--                    </div>-->
                    <hr class="mt-5" style="border: solid 2px">
<!--            </div>-->
</div>
</div>
</div>
<script th:inline="javascript">

    const user = [[${session.user}]]



    const board_update = () => {
            if (confirm("수정하시겠습니까?")) {
                const id = [[${board.id}]];
                location.href = `/board/update/${id}`;
            }
    }

    const comment_write = () => {
        const writer = document.querySelector("[name='commentWriter']").value;
        const contents = document.querySelector("#comment-contents").value;
        const boardId = [[${board.id}]];
        axios({
            method: "post",
            url: "/comment/save",
            data: {
                commentWriter: writer,
                commentContents: contents,
                boardId: boardId
            }
        }).then(res => {
            const area = document.querySelector("#comment-list-area");
            let result = "<div id=\"comment-list\">\n"
            for (let i in res.data) {
                result += "                    <div class=\"row\">\n";
                result += "        <div class=\"col\">" + res.data[i].commentWriter + "</div>\n";
                result += "        <div class=\"col\">" + res.data[i].commentContents + "</div>\n";
                result += "        <div class=\"col\">" + res.data[i].createdAt + "</div>\n";
                if (user == res.data[i].commentWriter || user == "admin") {
                    result += "                            <div class=\"col text-end\">\n";
                    result += "                                <div class=\"col text-end\"><i class=\"bi bi-x-square-fill\" style='cursor: pointer;'\n";
                    result += "                                                             onclick=\"delete_fn('" + res.data[i].id + "')\"></i>\n";
                    result += "                                </div>\n";
                    result += "                            </div>\n";
                }
                result += "                        </div>\n";
                result += " <hr style=\"border: solid 2px\">";
            }
            result += "                        </div>\n";
            area.innerHTML = result;
            document.querySelector("#comment-contents").value = "";
        }).catch(err => {
            console.log("err", err);
        });
    }

    const board_delete = () => {
        if (confirm("삭제하시겠습니까?")) {
            const id = [[${board.id}]];
            $.ajax({
                type: "delete",
                url:`/board/${id}`,
                success:function(){
                    location.href="/";
                }
            })
        }
    }

    const delete_fn = (id) => {
        if(confirm("삭제하시겠습니까?")){
            axios({
                method: "delete",
                url: `/comment/${id}`,
            }).then(res => {
                const id= [[${board.id}]]
                location.href = `/board/${id}`
            })
        }
    }

   const list_fn = () => {
       const page = [[${page}]]
       const type = [[${type}]]
       const q = [[${q}]]
       const by = [[${by}]]
       const pageLimit = [[${pageLimit}]]
       location.href = `/board?page=${page}&type=${type}&q=${q}&by=${by}&pageLimit=${pageLimit}`;
   }


</script>
</body>
</html>