<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{component/config :: config}"></th:block>
</head>
<body>
<div th:replace="~{component/header :: header}"></div>
<div th:replace="~{component/nav :: nav}"></div>

<div class="container mt-5 mb-5">
    <form class="card p-3" action="/board/update" method="post" enctype="multipart/form-data" name="frm">
        <div class="row">
            <div th:if ="${session.user != null}" class="col">
                <input class="mt-3" type="hidden" name="boardId" th:value="${session.userId}" readonly><br>
                <input class="mt-3" type="text" name="boardWriter" th:value="${session.user}" readonly><br>
            </div>
            <div th:if ="${session.user == null}" class="col">
                <input class="mt-3" type="text" name="boardWriter" th:value="${board.boardWriter}" placeholder="글작성자">
            </div>
        </div>
        <input class="mt-3" type="hidden" name="id" th:value="${board.id}" readonly><br>
        <input class="mt-3 mb-1" type="text" name="boardTitle" placeholder="제목을 입력해 주세요." th:value="${board.boardTitle}"><br>
        <h6> 쉬운 비밀번호를 입력하면 타인의 수정, 삭제가 쉽습니다. </h6>
        <span class="mb-5"> 음란물, 차별, 비하, 혐오 및 초상권, 저작권 침해 게시물은 민, 형사상의 책임을 질 수 있습니다.    </span><span onclick="policy_fn()" style="font-weight:900; cursor: pointer ">[저작권법 안내]</span>
        <br><br><br>
        <div class="col-md-12">
            <div contentEditable="true" class="form-control">
                <div class="col" id="board-list-area" th:if ="${board.fileAttached == 1}">
                    <div th:each="fileName: ${board.storedFileName}">
                        <img th:src="@{|/upload/${fileName}}" width="200" height="200" alt="">
                    </div>
                </div>
                <textarea class="form-control" rows="8" cols="100" name="boardContents" th:value="${board.boardContents}">
                </textarea>
            </div>
        </div>
        <input class="mt-2" type="file" id="file" name="boardFile" multiple accept="image/*" ><br>
        <div class="text-end">
            <input type="submit" value="등록" class="btn btn-primary mt-3">
        </div>
</div>
</form>
</div>
<div class="modal fade" id="policy_modal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel" style="color: #333D77; font-weight:900;">저작권법 안내</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                이용자가 불법복제물을 게재, 유통하면 이에 대한 경고 및 불법복제물의 삭제 또는 전송 중단 조치를 할 수 있으며, 경고를 받은 이용자에게 사용 정지를 할 수 있습니다.(관련 법률: 저작권법 제133조 의 제1항 및 제2항)
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div th:replace="~{component/footer :: footer}"></div>

</body>
<script th:inline="javascript">
    $(frm).on("submit", function(e){
        e.preventDefault();
        const boardWriter = $(frm.boardWriter).val();
        const boardTitle = $(frm.boardTitle).val();
        const boardFile = document.getElementById('file');
        if(boardWriter==""){
            alert("작성자 입력바람!")
        }else if(boardTitle == ""){
            alert("제목입력바람")
        }else{
            frm.submit();
        }
    })


    $(document).ready(function() {
        $(frm.boardFile).on("change", function(e) {
            const files = e.target.files;
            const list = document.getElementById("board-list-area");
            list.innerHTML = "";
            for (let i = 0; i < files.length; i++) {
                const file = files[i];
                const img = document.createElement("img");
                img.src = URL.createObjectURL(file);
                img.classList.add("board-image");
                list.appendChild(img);
            }
            const imageCount = files.length;
            $.ajax({
                type: "get",
                url: "/board/count",
                data: {
                    length: imageCount
                },
                success: function(data) {
                    console.log("서버 응답 데이터:", data);
                }
            });
        });
    });

    const policy_fn = () => {
        $("#policy_modal").modal("show");
    }
</script>
</html>