<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
<div th:fragment="nav" id="nav">
  <div class="row">
    <div class="col">
      <p style="text-align: center;">
        <img src="./image/header01%20.jpg" width="20%" id="img_header">
      </p>
      <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container-fluid">
          <a class="navbar-brand" href="/" id="home">Home</a>
          <button class="navbar-toggler" type="button"
                  data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                  aria-controls="navbarSupportedContent" aria-expanded="false"
                  aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/member/save">회원가입</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/board">글목록</a>
              </li>
              <div th:if ="${session.user != null}">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/member/myPage"> 마이페이지</a>
                </li>
              </div>
              <div th:if ="${session.user == 'admin'}">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/admin">관리자화면</a>
                </li>
              </div>
            </ul>
            <ul class="navbar-nav mb-2 mb-lg-0">
              <div th:if ="${session.user == null}">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/member/login">로그인</a>
                </li>
              </div>
              <div th:if ="${session.user != null}">
                <li class="nav-item">
                  <li class="nav-link active" aria-current="page" th:text="|${session.user} 님|"></li>
                </li>
                </div>
              <div th:if ="${session.user != null}">
                <li class="nav-item">
                  <a class="nav-link active" aria-current="page" href="/member/logout">로그아웃</a>
                </li>
              </div>
            </ul>
          </div>
        </div>
      </nav>
    </div>
  </div>
</div>

</body>
</html>